$theme-color:#404160;
$theme-contrast-color:#81cdd6;
$lite-color:#f8f8f8;
$dark-color:#444444;
$lite-contrast-color:#e7e7e7;
$white:#ffffff;
$success-record:#00b4ff;
$error-record:red;
$progress-record:rgb(255, 228, 0);
$untouched-record:#adadad;
$completed-record:#00c300;
$highlight-record:#404160;
$transparent:rgba(0, 0, 0, 0);
$pinkish:#ff2cb3;
$greenish:#56c344;