
<div class="loading" style="position:fixed;top:350px;left:550px" ng-show="vm.inprogress">
    <img src="images/loading.svg" alt="loading">
  </div>


    <div class="container">
        <div class="row">
            <!-- row -->
            <div class="col-md-3">
                <div class="badge-logo" flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()" flow-file-success="fileAdded( $file, $message, $flow )">
                    <div >
                        <div class="thumbnail" ng-hide="$flow.files.length" style="width:200px;height:200px">
                          <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                        </div>
                        <div class="thumbnail" ng-show="$flow.files.length" style="width:200px;height:200px">
                          <img flow-img="$flow.files[0]" />
                        </div>
                        <div>
                          <button  class="btn btn-primary" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</button>
                          <button class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</button>
                          <button  class="btn btn-danger" ng-show="$flow.files.length"
                             ng-click="$flow.cancel()">
                            Remove
                          </button>
                        </div>
                        <p>
                          Only PNG,GIF,JPG files allowed.
                        </p>
                      </div>
                    </div>
                </div>
           
            <!-- end col-md-2 -->
            <div class="col-md-5">
                <div class="badge-inputs">
                    <form action="#">
                        <div class="form-group">
                            <label for="text">Trainer Name</label>
                            <input type="text" class="form-control" placeholder="trainer name.." id="badge-name" ng-model="tarinerData.name">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="badge-inputs">
                    <form action="#">
                        <div class="form-group">
                            <label for="text">Trainer Deparment</label>
                            <input type="text" class="form-control" placeholder="Gym deparment"  ng-model="tarinerData.deparment">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="badge-inputs">
                    <form action="#">
                        <div class="form-group">
                            <label for="text">Trainer Description</label>
                            <input type="text" class="form-control" placeholder="description.."  ng-model="tarinerData.description">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="badge-inputs">
                    <form action="#">
                        <div class="form-group">
                            <label for="text">Zone</label>
                            <select class="form-control"   required id="sel1" ng-model="tarinerData.zoneId">
                                
                                <option ng-repeat="zone in vm.zones" value="{{zone.zoneId}}">{{zone.zoneName}}</option>
                               
                        </select>
                        </div>
                    </form>
                </div>
            </div>
      </div> 
            
            <div class="row">
                <div class="col-md-1 col-md-offset-3" style="margin:10px 10px 10px 10px;">
                    <div class="badge-buttons">
                        <button class="btn btn-primary create-badge-btn" ng-click="vm.createTrainer(tarinerData)">Create Trainer</button>
                    </div>
                </div>
                <div class="col-md-1  col-md-offset-1" style="margin:10px 10px 10px 10px;">
                    <div class="badge-buttons">
                        <button class="btn btn-default create-badge-btn">Cancel</button>
                    </div>
                </div>
            </div>
        
   

            <div class="row">
                <div class="col-md-12">
                    <div class="badges-header">
                        <h4 class="badge-header-text">
                            <span style="color:#5DBCD2;margin-right:20px;" class="glyphicon glyphicon-tasks"></span><b > Available Trainers</b></h4>
                    </div>
                </div>
            </div>
     
            <div class="row">
      
                <div class="creation-plans-tiles " style="margin-top:20px">
                    <div class="record-strip pipelines">
                      
            <md-card 
            layout="column" layout-align="spacce-between start" class="progress pull-left " ng-repeat="trainer in vm.trainers">
            <div style="background-color:white;">
                <md-card-title>
                    <md-card-title-text layout-padding>
                        <div layout="row">
                            <div layout="row">
                                <img ng-src="{{trainer.photo.url}}" alt="" class="pipelineImage">
                            </div>
                            <div layout="column">
                                <span class="md-headline" >Trainer : {{trainer.name}}</span>
                                <span class="md-subhead">Zone : Zone Name</span>
                            </div>
                        </div>
                    </md-card-title-text>

                </md-card-title>
            </div>
            <div style="background-color:white;">
                <md-card-title-media>
                    <div layout="row">
                        <md-list>
                            <md-list-item>About</md-list-item>
                            <md-list-item>{{trainer.description}}
                            </md-list-item>
                            <md-list-item>Trainer {{trainer.name}} best at {{trainer.deparment}} overview,+1 more  </md-list-item>
                        </md-list>
                        <md-list>
                            
                            <md-list-item> Pay :None </md-list-item>
                        </md-list>
                    </div>
                </md-card-title-media>
            </div>
            <div flex style="background-color:white;">
            </div>
            <div>
                <md-card-actions layout="row" layout-align="space-between center">
                    <span class="pipslineStatus success" ng-class="success"> </span>Active
                    <div>
                        <md-button ng-click="go('/editPipeline/'+item.pipelineID)"><i class="material-icons">mode_edit</i></md-button>
                        <md-button ng-click="delPipe(item.pipelineID)"><i class="fa fa-trash-o"></i></md-button>
                    </div>
                </md-card-actions>
            </div>
        </md-card>
  
    </div>

</div>
</div>
</div>


