<div class="loading" style="position:fixed;top:350px;left:550px" ng-show="vm.inprogress">
    <img src="images/loading.svg" alt="loading">
</div>
<div class="row">
    <div class="container">
        <div class="col-md-6 col-sm-5 col-xs-10">
            <div class="creation-from">
                 
                <form >
                        <div class="form-group">
                                <div class="badge-logo" flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()"
                                    flow-file-success="fileAdded( $file, $message, $flow )">
                                    <div>
                                        <div class="thumbnail" ng-hide="$flow.files.length" style="width:200px;height:200px">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                                        </div>
                                        <div class="thumbnail" ng-show="$flow.files.length" style="width:200px;height:200px">
                                            <img flow-img="$flow.files[0]" />
                                        </div>
                                        <div>
                                            <button class="btn btn-primary btn-sm" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</button>
                                           
                                            <button class="btn btn-danger btn-sm" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                                Remove
                                            </button>
                                        </div>
                                        <p>
                                            Upload member Image.
                                        </p>
                                    </div>
                                </div>
                            </div>
                    <div class="form-group">
                        
                        <input type="text" class="form-control" id="member-name" placeholder="member name" name="member-name" ng-model="trainerData.name" required>
                    </div>

                   
                    <div class="form-group">
                            <label for="text">Joining Date</label>
                        <input type="date" class="form-control" id="member-deuration" placeholder="Deparment" name="member-deuration"
                            ng-model="trainerData.memberStartDate" required>
                    </div>
                    <div class="form-group">
                        <label for="text">Zone</label>
                        <select class="form-control" required id="sel1" ng-model="trainerData.zoneInfo" ng-change="vm.loadPlans(trainerData.zoneInfo)">

                            <option ng-repeat="zone in vm.zones" value='{"zoneId":"{{zone.zoneId}}","zoneName":"{{zone.zoneName}}"}'>{{zone.zoneName}}</option>

                        </select>
                    </div>
                    <div class="form-group">
                        
                        <label ><b>Plans</b></label>
                        <md-checkbox  name="crossfit" ng-model="plan.planId" ng-repeat="plan in  vm.plansData" ng-true-value="'yup'"
                        ng-false-value="'nope'" style="width:100%" ng-change="vm.addplan(plan,plan.planId)">
                                <label for="crossfit">{{plan.planName}}</label>
                                <label for="crossfit">Amount : {{plan.planFee}}</label>
                                <label for="crossfit">Duration : {{plan.planMonth}} Months </label>
                                <label for="crossfit">Discount: {{plan.planOffer}} %</label>
                                <md-tooltip md-direction="top">Discount: {{plan.planOffer}}</md-tooltip>
                            </md-checkbox>
                           
                        </div>
                        <div class="form-group">
                        
                                <input type="number" class="form-control" id="member-price" placeholder="Bill Amount" name="member-price" ng-model="trainerData.billAmount">
                            </div>
                        <div class="form-group">
                                <label ><b>Class Time</b></label>
                                <input type="time" class="form-control" id="member-price" placeholder="member monthly salary" name="member-price" ng-model="trainerData.shiftTiming">
                            </div>
                    
                    <div class="form-group">
                       
                        <input type="text" class="form-control" id="about-member" placeholder="About member" name="about-member" ng-model="trainerData.description" required>
                    </div>
                    <div class="form-group">
                            <label ><b>Optional details</b></label>
                    </br>
                        <input type="text" class="form-control" id="member-offer" placeholder="City Name" name="member-offer" ng-model="trainerData.joiningDate">
                    </div>
                    <div class="form-group">
                        
                            <input type="number" class="form-control" id="member-price" placeholder="Contact No. " name= "member-price" ng-model="trainerData.primaryContact">
                        </div>
                        <div class="form-group">
                        
                                <input type="text" class="form-control" id="member-price" placeholder="Email " name= "member-price" ng-model="trainerData.memberEmail">
                            </div>
                    <div class="form-group">
                        
                        <input type="number" class="form-control" id="member-price" placeholder="member height" name="member-price" ng-model="trainerData.memberheight">
                    </div>

                    <div class="form-group">
                        
                            <input type="number" class="form-control" id="member-price" placeholder="member Weight" name="member-price" ng-model="trainerData.memberWeight">
                        </div>
                    <div class="form-group">
                        
                            <input type="number" class="form-control" id="member-price" placeholder="Age" name="member-price" ng-model="trainerData.memberAge">
                        </div>
                   


                    <div class="create-member-button">
                        <button type="submit" class="btn btn-danger" ng-click="vm.cancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="vm.createTrainer(trainerData)">Create member</button>
                    </div>

                </form>
                

            </div>
        </div>
    </div>
</div>
<!-- end row form -->