<div class="loading" style="position:fixed;top:30%;left:40%" ng-show="vm.inprogress">
        <img src="images/loading.svg" alt="loading">
        <p>Loading</p>
    </div>
<div class="container zone-user-details-card-page">
    <div class="row">
            <div class=" pull-right" style="margin-top:2%;" >
            <button ng-click="vm.viewType('list')" style="border:none;background:none;"><i class="fas fa-list-ul" style="font-size:20px" ></i></button>
            <button ng-click="vm.viewType('grid')" style="border:none;background:none;"><i class="fas fa-th-large" style="font-size:20px" ></i></button>
           
            </div>
</div>
    
    <div class="row" style="height:auto;">
         
                      
        <div class="col-md-4 col-sm-10 col-xs-10 col-lg-3" style="margin-top:2%;" ng-show="vm.grid" ng-repeat="avzone in vm.avzones">
               
       
            <div class="zone-user-details-cards text-center" >
                
                <div class="user-details-card-body">
                    <h5 class="details-card-body-title">{{avzone.group[0]}}</h5>
                    <h6 class="">Nitro Fitness</h6>
                    <p class="zone-member-user-details-text">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Plan Status</td>
                                    <td style="color:#34b8ec;">Active</td>
                                </tr>
                                <tr>
                                    <td>Star Date</td>
                                    <td>09-29-2017</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Expiry Date</td>
                                    <td>09-29-2017</td>

                                </tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="user-details-card-footer">
                    <div class="user-details-card-buttons  ">
                            <button ng-click="vm.view('lg')" class="btn btn-info btn-sm"> Renew Plan  </button>
                        <button ng-click="vm.view('lg')" class="btn btn-info btn-sm"> View </button><br>
                        <button class="btn btn-danger btn-sm"> Delete </Button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <div ng-cloak layout-gt-lg="row" layout="column" ng-show="vm.list" style="margin-top:2%;" >

        <div flex-gt-sm="50" flex>
          
            <md-toolbar layout="row" class="" >
                <div class="md-toolbar-tools">
                    <span>Members</span>
                    
                </div>

            </md-toolbar>
            <md-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky"> 
                            
                    </md-subheader>
                        <md-list-item class="md-3-line" ng-click="null" >
                               
                                <div class="md-list-item-text" layout="column">
                                   
                                    <h4>Zone Members</h4>
                                    <p>Below are the active and pending renew members zone links  </p>
                                    
                                </div>
                                <div class="user-details-card-footer">
                                        <div class="btn-group ">
                                                <button  class="btn btn-info btn-sm " ng-click="vm.open('ls')"> <i style="margin-right:5px;" class="fas fa-user-plus"> </i> Add New Member</button>
                                                <button ng-click="vm.viewActiveMembers('zonemembers',avzone.group[1],'inProgress')" class="btn btn-warning btn-sm pull-right" style="
                            -webkit-animation-name: hvr-pulse-grow;
                            animation-name: hvr-pulse-grow;
                            -webkit-animation-duration: 0.3s;
                            animation-duration: 0.3s;
                            -webkit-animation-timing-function: linear;
                            animation-timing-function: linear;
                            -webkit-animation-iteration-count: infinite;
                            animation-iteration-count: infinite;
                            -webkit-animation-direction: alternate;
                            animation-direction: alternate;
                            box-shadow:4px 0px 0px orange insset;
                            font-size: 10px;
                            color: orange;
                            background:none; ">Help?</button>  
                                        
                                        </div>
                                    </div>
                            </md-list-item>


                    <md-list-item class="md-3-line" ng-click="null" ng-repeat="avzone in vm.avzones">
                        <img ng-src="images/user.png" class="md-avatar" alt="member" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{avzone.group[0]}}</h3>
                            <h4>Active members:{{avzone.reduction.length+1}}</h4>
                            <p>Pending plan renew : 10</p>
                            
                        </div>
                        <div class="user-details-card-footer">
                                <div class="user-details-card-buttons btn-group ">
                                        <button ng-click="vm.viewActiveMembers('zonemembers',avzone.group[1],'inProgress')" class="btn btn-info btn-sm">View Active </button>
                                    <button ng-click="vm.view('lg')"  class="btn btn-info btn-sm"> Pending Renew </button>
                                
                                </div>
                            </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>