

<div class="loading" style="position:fixed;top:30%;left:35%" ng-show="vm.inprogress">
        <p style="
        -webkit-animation-name: hvr-pulse-grow;
        animation-name: hvr-pulse-grow;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        font-size: 17px;
        color: skyblue;
    ">Loading</p>
    <img src="images/loading.svg" alt="loading">
    
</div>
<div class="container-fluid">
    
    <div class="row zone-signup-signin-form" style="background:#000;height:100%; background-size: 100% 100%;">
         
        <div class="cont-sing-up" style="margin-top:3%;overflow:hidden;">
            <div class="zone-signin-form sign-in">
                <h2>Welcome back,</h2>
                <form ng-submit="vm.getToken(vm.login)">
                        <div class="zone-owner-form-inputs">
                                
                                        <label>Email
                                        <input type="email" class="form-control" name="text" ng-model="vm.login.username" required>
                                    </label>
                                <br>
                                        <label>password
                                        <input type="Password" class="form-control" name="text" ng-model="vm.login.password" required>
                                    </label>                    
                        </div>
                        <p class="forgot-pass btn-link">Forgot password?</p>
                <div class="zone-signup-form-buttons">
                    <button type="submit" class="submit hvr-push zone-sign-btn">Sign In</button>
                </div>
                </form>
                
            </div>
            <div class="sub-cont-zone-sign">
                <div class="img-sign-zone">
                    <div class="img__text m--up">
                        <h2>New here?</h2>
                        <p>Sign up and discover great amount of new opportunities!</p>
                    </div>
                    <div class="img__text m--in">
                        <h2>One of us?</h2>
                        <p>If you already has an account, just sign in. We've missed you!</p>
                    </div>
                    <div class="img__btn">
                        <span class="m--up">Sign Up</span>
                        <span class="m--in">Sign In</span>
                    </div>
                </div>
                <div class="zone-signin-form col-6 sign-up">
                    <h2 class="text-center">Create Your Ownership Account</h2>
                    <form ng-submit="vm.userRegistration(vm.signupData)">
                            <div class="zone-owner-form-inputs-signup">
                                    
                                            <label>User Name
                                            <input type="name" class="form-control" name="text"  ng-model="vm.signupData.username" required>
                                       
                                        </label>
                                            <label>Ownership Name
                                            <input type="name" class="form-control" name="text"  ng-model="vm.signupData.app_metadata.ownership"  required>
                                        </label>
                                
                                        <label>Email
                                        <input type="email" class="form-control" name="text" ng-model="vm.signupData.email"  required>
                                    </label>
                                
                                        <label>password
                                        <input type="Password" class="form-control" name="text" ng-model="vm.password" required>
                                    </label>
                                
                                        <label>Confirm password
                                        <input type="Password" class="form-control" name="text"  ng-model="vm.signupData.confirmpassword" required>
                                        <label ng-show="vm.passwordError" style="color:red">{{vm.passwordError}}</label>
                                    </label>
                                
                                        <label>Phone Number Number
                                        <input type="text" class="form-control" name="text" ng-model="vm.signupData.app_metadata.phonenumber" required>
                                    </label><br>
                                   
                                        <label>Registration For
                                        <select class="form-control" style="border: 1px solid;width: 200px;" ng-model="vm.signupData.app_metadata.register_Type">
                                            <option value="ZL">Zone Listing</option>
                                            <option value="SS">Studio Sass</option>
                                            <option value="PT">Personal Trainer</option>
                                        <select>
                                    </label>
                            </div>
                            <button type="submit" class="submit hvr-push zone-sign-btn">Sign Up</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.img__btn').addEventListener('click', function () {
        document.querySelector('.cont-sing-up').classList.toggle('s--signup');
    });
</script>


