
   <div class="subs-bg-section">
    <div class="subscription">
      <div class="container">

        <div class="price-box">
            
             <h3 class="text-div m_2" style="color: #fff;font-size:20px;"> Create Custom Ownership Plan </h3>
          <form class="form-horizontal form-pricing" role="form">
  
            <div class="price-slider">

              <h4 class="great" style="background-image: linear-gradient(to right, #ff7400, #f45c43);">Branches</h4>
              <span>Minimum 1 brach is required</span> <br>
              <div class="range-slider">
                <input class="range-slider__range" type="range" value="100" min="1" max="20">
                <span class="range-slider__value">0</span>
              </div>
            </div>
            <div class="price-slider">
              <h4 class="great" style="background-image: linear-gradient(to right, #ff7400, #f45c43);    margin-top: 8px;">Members</h4> 
              <span>Minimum 50 Active is required</span>
              <div class="range-slider">
                <input class="range-slider__range" type="range" value="100" min="50" max="500">
                <span class="range-slider__value">0</span>
              </div>
            </div>
            <div class="price-slider">
              <h4 class="great" style="background-image: linear-gradient(to right, #ff7400, #f45c43);    margin-top: 8px;">Months</h4> 
              <span>Minimum 1 months is required</span>
              <div class="range-slider">
                <input class="range-slider__range" type="range" value="100" min="1" max="24">
                <span class="range-slider__value">0</span>
              </div>
            </div>
  
            <div class="price-form">
  
              <div class="form-group">
                <label for="amount" class="col-sm-6 control-label">Amount ($): </label>
                <span class="help-text">Please choose your amount</span>
                <div class="col-sm-6">
                  <input type="hidden" id="amount" class="form-control">
                  <p class="price lead" id="amount-label"></p>
                  <span class="price">.00</span>
                </div>
              </div>
              <div class="form-group">
                <label for="duration" class="col-sm-6 control-label">Duration: </label>
                <span class="help-text">Choose your commitment</span>
                <div class="col-sm-6">
                  <input type="hidden" id="duration" class="form-control">
                  <p class="price lead" id="duration-label"></p>
                  <span class="price">days</span>
                </div>
              </div>
              <hr class="style">
              <div class="form-group total">
                <label for="total" class="col-sm-6 control-label"><strong>Total: </strong></label>
                <span class="help-text">(Amount * Days)</span>
                <div class="col-sm-6">
                  <input type="hidden" id="total" class="form-control">
                  <p class="price lead" id="total-label"></p>
                  <span class="price">.00</span>
                </div>
              </div>
  
            </div>
  
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" style="	background-image: linear-gradient(to right, #ff7400, #f45c43);border:none;" class="btn btn-primary btn-lg btn-block btn-buy-proceed">Proceed <span class="glyphicon glyphicon-chevron-right pull-right" style="padding-right: 10px;"></span></button>
              </div>
            </div>
        </div>
  
      </div>
   
    </div>
   </div>

