
   <div class="subs-bg-section">
    <div class="subscription">
      <div class="container">

        <div class="price-box">
            
             <h3 class="text-div m_2" style="color: #fff;font-size:20px;"> Create Custom Ownership Plan </h3>
          <form class="form-horizontal form-pricing" role="form">
  
            <div class="price-slider">

              <h4 class="great" style="background-image: linear-gradient(to right, #ff7400, #f45c43);">Branches</h4>
              <span>Minimum 1 brach is required</span> <br>
              <div class="range-slider">
                <input class="range-slider__range" type="range" ng-model="vm.nBranch" ng-change="vm.updateAmount()" min="1" max="20">
                <span class="range-slider__value">{{vm.nBranch}}</span>
              </div>
            </div>
            <div class="price-slider">
              <h4 class="great" style="background-image: linear-gradient(to right, #ff7400, #f45c43);margin-top: 8px;">Members</h4> 
              <span>Minimum 50 Active is required</span>
              <div class="range-slider">
                <input class="range-slider__range" type="range" ng-model="vm.nMember" ng-change="vm.updateAmount()" min="50" max="500">
                <span class="range-slider__value">{{vm.nMember}}</span>
              </div>
            </div>
            <div class="price-slider">
              <h4 class="great" style="background-image: linear-gradient(to right, #ff7400, #f45c43);    margin-top: 8px;">Months</h4> 
              <span>Minimum 1 months is required</span>
              <div class="range-slider">
                <input class="range-slider__range" type="range" ng-model="vm.nMonth" ng-change="vm.updateAmount()"  min="1" max="24">
                <span class="range-slider__value">{{vm.nMonth}}</span>
              </div>
            </div>
  
            <div class="price-form">
  
              <div class="form-group">
                <label for="amount" class="col-sm-6 control-label">Members ($) :{{vm.membersTotal }}.00</label><br>
                <label for="amount" class="col-sm-6 control-label">Branchs ($) :{{vm.branchTotal }}.00</label>
                <span class="help-text">Subscription For a Month </span>
                <div class="col-sm-6">
                  <input type="hidden" id="amount" class="form-control">
                  <p class="price lead" id="amount-label"></p>
                  <span class="price">{{vm.perMonth}}.00</span>
                </div>
              </div>
              <div class="form-group">
                <label for="duration" class="col-sm-6 control-label">Months : {{vm.nMonth}}</label>
                <span class="help-text">Re-Ocurring months</span>
                <div class="col-sm-6">
                  <input type="hidden" id="duration" class="form-control">
                  <p class="price lead" id="duration-label"></p>
                  <span class="price">{{vm.months}}.00 </span>
                </div>
              </div>
              <hr class="style">
              <div class="form-group total">
                <label for="total" class="col-sm-6 control-label"><strong>Total:{{vm.months}} </strong></label>
                <span class="help-text">Discount({{vm.discount}}%) : {{vm.disc}}.00</span>
                <div class="col-sm-6">
                  <input type="hidden" id="total" class="form-control">
                  <p class="price lead" id="total-label"></p>
                  <span class="price">{{vm.finalAmount}}.00</span>
                </div>
              </div>
  
            </div>
  
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" ng-click="vm.updateAmount()" style="	background-image: linear-gradient(to right, #ff7400, #f45c43);border:none;" class="btn btn-primary btn-lg btn-block btn-buy-proceed">Proceed to pay {{vm.finalAmount}} <span class="glyphicon glyphicon-chevron-right pull-right" style="padding-right: 10px;"></span></button>
              </div>
            </div>
        </div>
  
      </div>
   
    </div>
   </div>

