

<!-- <div class="container-fluid">
    <div class="wizard-prosses" style="background:#fff;padding-top:10px;padding-bottom:10px;">
        <div class="container">
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3">
                        <a type="button" class="btn btn-default btn-circle " ng-class="{'btn-info':zone_basics==false , 'btn-success':zone_basics==='done' }"
                            ng-click="vm.sectionmobo('zone_basics')">1</a>
                        <p>
                            <small>Basic Details</small>
                        </p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a type="button" class="btn btn-default btn-circle" ng-class="{'btn-info':zone_setting==false, 'btn-success':zone_setting==='done' }"
                            ng-click="vm.sectionmobo('zone_setting')">2</a>
                        <p>
                            <small>Setting</small>
                        </p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a type="button" class="btn btn-default btn-circle" ng-class="{'btn-info':zone_upload==false ,'btn-success':zone_upload==='done'}"
                            ng-click="vm.sectionmobo('zone_upload')">3</a>
                        <p>
                            <small>Videos/Images</small>
                        </p>
                    </div>

                    <div class="stepwizard-step col-xs-3">
                        <a type="button" class="btn btn-default btn-circle " ng-class="{'btn-info':pricing==false , 'disabled': pricing==true ,'enabled': pricing==false }"
                            >4</a>
                        <p>
                            <small>Pricing/Publish</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container"> 
        <div class="ue-heading-controller-db">
                Create New Zone
            </div>
    <div class="checkout-wrap">
            
        <ul class="checkout-bar">
      
          <li class="" ng-class="{'active':zone_basics==='done' }">
            <a  
            ng-click="vm.sectionmobo('zone_basics')">Basics</a>
          </li>
          
          <li class=""  ng-class="{ 'active':zone_setting==='done' }">
            <a  
            ng-click="vm.sectionmobo('zone_setting')"> Settings</a>
          </li>
          
          <li class="" ng-class="{ 'active':zone_upload==='done' }"> <a  
            ng-click="vm.sectionmobo('zone_upload')"> Uploads</a></li>
          
          <li class="" ng-class="{ 'active':pricing==='done' }">
            <a  
            ng-click="vm.sectionmobo('pricing')"> Payments</a>
          </li>
          
          <li class="">Complete</li>
             
        </ul>
      </div>
</div>
<hr></hr>
<hr></hr>
<div class="screen-second-section"></div>
<div uib-collapse="zone_basics">


    <form class="form-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--col-md-6 -->
                    <form action="#">
                        <md-input-container class="md-icon-float   md-block" layout-gt-xs="row">
                            <label class="text-left">Zone Name Title</label>
                            <input ng-model="zonedata.zoneName" type="text" class="form-control" name="text"  id="zone-time" required>
                      </md-input-container>
                      
                         <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-xs="row">
                             <label class="text-left">Zone Owner</label>
                             <input ng-model="zonedata.zoneOwnerName" type="text" class="form-control" name="text"  required id="pwd">
                        </md-input-container>
                     
                      

                            <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-xs="row">
                                <label class="text-left">Zone Since e.g 2011</label>
                                <input ng-model="zonedata.zoneSince" type="text" class="form-control" name="cuncurency"  required id="pwd">
                          </md-input-container>
                       
                          <md-input-container class="md-icon-float md-block ue-zewzone-select-controller" layout-gt-xs="row">
                            <label class="text-left">Country</label>
                            <md-select class="ue-zewzone-select-controller-item" required ng-model="zonedata.Country">
                                <md-option value="IND">INDIA</md-option>
                                <md-option value="UAE">UAE</md-option>
                                <md-option value="US">US</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block ue-zewzone-select-controller" layout-gt-xs="row">
                            <label class="text-left">City</label>
                            <md-select class="ue-zewzone-select-controller-item" required ng-model="zonedata.city">
                                <md-option value="MUMBAI">MUMBAI</md-option>
                                <md-option value="HYDERBAD">HYDERBAD</md-option>
                               
                            </md-select>
                        </md-input-container>
                        
                    </form>
                </div>
                <!-- end col-md-6 -->
                <div class="col-md-6">
                    <form>
                       
                                <md-input-container class="md-icon-float md-block ue-zewzone-select-controller" layout-gt-xs="row" >
                                    <label class="text-left">Facilities</label>
                                    <md-select class="ue-zewzone-select-controller-item" ng-model="zonedata.selectedFacilities" multiple>
                                        <md-optgroup label="Basic Facilities">
                                            <md-option ng-value='{"name":"{{topping.name}}","category":"{{zone.category}}"}' ng-repeat="topping in toppings | filter: {category: 'Basic' }">{{topping.name}}</md-option>
                                        </md-optgroup>
                                        <md-optgroup label="Special">
                                            <md-option ng-value='{"name":"{{topping.name}}","category":"{{zone.category}}"}' ng-repeat="topping in toppings | filter: {category: 'Special' }">{{topping.name}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                           
                      
                      
                            

                                    <md-input-container class="md-icon-float md-block ue-zewzone-select-controller" layout-gt-xs="row">
                                        <label class="text-left">Working Days</label>
                                        <md-select class="ue-zewzone-select-controller-item" ng-model="zonedata.openingDays" multiple >
                                            <md-optgroup label="Open Days">
                                                <md-option ng-value='{"name":"{{day.name}}","status":"{{day.status}}"}' ng-repeat="day in days | filter: {status: 'open' }">{{day.name}}</md-option>
                                            </md-optgroup>
                                            <md-optgroup label="Close Days">
                                                <md-option ng-value='{"name":"{{day.name}}","status":"{{day.status}}"}' ng-repeat="day in days | filter: {status: 'close' }">{{day.name}}</md-option>
                                            </md-optgroup>
                                        </md-select>
                                    </md-input-container>
                               
                       
                            <md-input-container class="md-icon-float md-block ue-zewzone-select-controller" layout-gt-xs="row">
                            <label class="text-left">Available For</label>
                            <md-select class="ue-zewzone-select-controller-item"  ng-model="zonedata.zoneFor" required>
                                <md-option value='unisex'>For Unisex</md-option>
                                <md-option value='men'>Men</md-option>
                                <md-option value='women'>Women</md-option>
                            </md-select>
                        </md-input-container>
                    </form>
                    <md-input-container class="md-block ue-zewzone-textarea-controller">
                        <label class="text-left">Address.</label>
                        <textarea ng-model="zonedata.zoneAddress" class="ue-zewzone-textarea-controller-item" required md-maxlength="150" rows="5" md-select-on-focus id="failure-comment"></textarea>
                      </md-input-container>
                </div>
            </div>
            <!-- end col-md-6 -->
            <div class="row">
                <div class="message-plain">
                    <div class="col-md-12">
                        <form>
                            <md-input-container class="md-block ue-zewzone-textarea-controller">
                                <label class="text-left">About Zone.</label>
                                <textarea ng-model="zonedata.aboutZone" class="ue-zewzone-textarea-controller-item" required md-maxlength="150" rows="5" md-select-on-focus id="failure-comment"> About Zone.</textarea>
                              </md-input-container>
                        </form>
                    </div>
                </div>
            </div>

            <!-- end 1st row -->
            <div class="newzone-btn">
                <button type="submit" class="btn btn-sm btn-primary pull-right" ng-click="vm.sectionmobo('zone_setting',zonedata)">Next Step</button>
            </div>
        </div>
    </form>
</div>

<div uib-collapse="zone_setting">
    <form class="form-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--col-md-6 -->

                    <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-xs="row">
                        <label class="text-left">Morning Time</label>
                        <input ng-model="zonedata.morningTiming" type="time" class="form-control" name="expiration"  required id="pwd">
                  </md-input-container>

                  <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-xs="row">
                    <label class="text-left">Zone Contact. e.g 98339-3302</label>
                    <input ng-model="zonedata.primaryContact" type="number" class="form-control" name="expiration"  required id="pwd">
              </md-input-container>
              <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-xs="row">
                <label class="text-left">Free trails per month</label>
                <input ng-model="zonedata.zonefreeTrailPerMonth" type="number" class="form-control" name="cuncurency"  required id="pwd">
          </md-input-container>
          <md-input-container class="md-block ue-zewzone-text-controller">
            <label class="text-left">Plan Expire Message</label>
            <textarea ng-model="zonedata.zoneMemberPlanExpireMessage" class="ue-zewzone-textarea-controller-item" required md-maxlength="150" rows="5" md-select-on-focus id="plain-comment">Dear Member, Your plan has expired please renew it as Thnaks</textarea>
          </md-input-container>

                </div>
                <!-- end col-md-6 -->
                <div class="col-md-6">

                    <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-sm="row">
                        <label class="text-left">Evening Time</label>
                        <input ng-model="zonedata.eveningTime" type="time" class="form-control" name="expiration"  required id="zone-cost">
                  </md-input-container>
                  <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-xs="row">
                    <label class="text-left">Short Description e.g This a pretty place to get fit</label>
                    <input ng-model="zonedata.zoneShortDescription"  type="text" class="form-control" name="expiration"  required id="pwd">
              </md-input-container>
              <md-input-container class="md-icon-float md-block ue-zewzone-input-controller" layout-gt-xs="row">
                <label class="text-left">Free Trial Limit Per Day e.g40  [How many user do you allow for free trail]</label>
                <input ng-model="zonedata.zonefreeTrailPerDay"  type="number" class="form-control" name="cuncurency"  required id="pwd">
          </md-input-container>
          <md-input-container class="md-block ue-zewzone-textarea-controller">
            <label class="text-left">Activate Member Message</label>
            <textarea ng-model="zonedata.zoneMemberActivateMessage" class="ue-zewzone-textarea-controller-item" required md-maxlength="150" rows="5" md-select-on-focus id="limit-comment">Drop Message..</textarea>
          </md-input-container>
          
                </div>
            </div>
            <!-- end col-md-6 -->
            <md-input-container class="md-block ue-zewzone-textarea-controller">
                <label class="text-left">Deactivate Member Message</label>
                <textarea ng-model="zonedata.zoneMemberDeactivateMessage" class="ue-zewzone-textarea-controller-item" required md-maxlength="150" rows="5" md-select-on-focus id="failure-comment">Drop Message..</textarea>
              </md-input-container>
            <div class="newzone-btn">
                <button class="btn btn-sm btn-primary pull-right" ng-click="vm.sectionmobo('zone_upload',zonedata)">Next Step</button>
            </div>
            <!-- end 1st row -->

        </div>
    </form>
</div>

<div uib-collapse="zone_upload">
    <form class="form-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-11 col-xs-offset-1 col-sm-offset-1 col-sm-11 col-lg-12">
                    <div class="zone-upload-setup-content">
                        <div class="zone-upload-img-header">
                            <h4 class="text-left" style="margin-right:10px;">Zone Logo</h4>
                        </div>
                        <div flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()"
                            flow-file-success="filelogoAdded( $file, $message, $flow )">
                            <div class="thumbnail" ng-hide="$flow.files.length" style="width:200px;height:200px;border-radius:50%;">
                                <img class="img img-circle img-responsive" src="images/img-logo-badge.png" />
                            </div>
                            <div class="thumbnail" ng-show="$flow.files.length" style="width:200px;height:200px;border-radius:50%;">
                                <img class="img img-circle img-responsive" style="height: 191px;" flow-img="$flow.files[0]" />
                                <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}"
                                        style="width: 100%;">
                                        <span class="sr-only ng-binding">1% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="zone-basic-upload-setup-button">
                                <button class="btn btn-sm btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                    <i class="fas fa-times"></i> Remove
                                </button>
                                <button class="btn btn-sm btn-primary" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</button>
                            </div>
                            <p>
                                Note:Only PNG,GIF,JPG files allowed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-11 col-xs-offset-1 col-sm-offset-1 col-sm-11 col-lg-12">
                    <div class="images-upload-head">
                        <h4 class="head-text"> Add Zone Cover Images
                            <small>
                                <p class="text-justify">This is the cover preview picture to visualise you zone and public members can see as a first
                                    impression we suggest you to upload a banner with high quality pixels </p>
                            </small>
                        </h4>
                    </div>

                    <div flow-init flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                        flow-file-success="filecoverAdded( $file, $message, $flow )">
                        <div class="thumbnail" ng-hide="$flow.files.length" style="width:400px;max-height:150px">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                        </div>
                        <div class="thumbnail" ng-show="$flow.files.length" style="width:400px;max-height:150px">
                            <img flow-img="$flow.files[0]" />
                            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}"
                                    style="width: 100%;">
                                    <span class="sr-only ng-binding">1% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-sm  btn-primary " ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</button>

                            <button class="btn btn-sm btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                <i class="fas fa-times"></i>  Remove
                            </button>
                        </div>
                        <p>
                            Note: Only PNG,GIF,JPG files allowed.
                        </p>
                    </div>



                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-xs-11 col-xs-offset-1 col-sm-offset-1 col-sm-11 col-lg-12">
                    <div class="upload-heading">
                        <h4 class="head-text">Zone Images Gallary</h4>

                        <p class="text-justify">This is the cover preview picture Gallary to visualise you zone and public members can see as a first
                            impression we suggest you to upload max 10 photos with high quality pixels </p>


                    </div>
                    <div class="new-zone-upload-sec-btn">
                        <div class="media-section" flow-init flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                            flow-file-success="fileimagesAdded( $file, $message, $flow )">
                            <div class="drop" flow-drop="" ng-class="dropClass">
                                <span class="btn btn-sm btn-primary" flow-btn="">Upload Image
                                    <input type="file" multiple="multiple" style="visibility: hidden; position: absolute;">
                                </span>
                                <span class="btn btn-sm btn-primary" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Upload Folder of Images
                                    <input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;">
                                </span>

                            </div>
                            <div class="">


                                <div ng-repeat="file in $flow.files" class="gallery-box">
                                    <span class="title">{{file.name}}</span>
                                    <div class="thumbnail" ng-show="$flow.files.length">
                                        <img flow-img="file" />
                                    </div>
                                    <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress() * 100}}" aria-valuemin="0" aria-valuemax="100"
                                            ng-style="{width: (file.progress() * 100) + '%'}">
                                            <span class="sr-only">{{file.progress()}}% Complete</span>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                            <i class="fas fa-times"></i>  Remove
                                        </a>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-xs-11 col-xs-offset-1 col-sm-offset-1 col-sm-11 col-lg-12">
                    <div class="videos-links">

                        <md-input-container class="ue-zewzone-input-controller">
                            <label class="text-left">Add Zone Videos</label>
                            <input ng-model="zonedata.vidurl"  type="url" class="form-control" name="text"  required id="zone-time">
                      </md-input-container>

                    </div>
                    <div class="newzone-btn">
                        <button type="submit" class="btn btn-info pull-right" ng-click="vm.sectionmobo('pricing',zonedata)">Ready To publish</button>
                    </div>
                </div>
            </div>




        </div>
    </form>
</div>



<div uib-collapse="pricing">
    <form class="form-section">
        <div class="container">
                <h2 style="text-align:center">Subscription Pricing for LAG@Gym Managment Application</h2>
                <p style="text-align:center">For Customise Plan please contact to support@lookatgym.com</p>
            




                
                    <div class="row">
                <div class="columns">
                    <ul class="price">
                        <li class="header">Zone Listing</li>
                        <li class="grey">$ 0.00 / 3 month</li>
                        <li>zone List on Lookatgym</li>
                        <li>Support replay 1 to 2 day</li>
                        <li class="grey">
                            <a class="button" ng-click="vm.live(zonedata)"> Free Buy</a>
                        </li>
                    </ul>
                </div>
                <div class="columns">
                    <ul class="price">
                        <li class="header">Basic GYM Manage </li>
                        <li class="grey">$ 9.99 / year</li>
                        <li>zone List on Lookatgym</li>
                        <li>50 Zone member</li>
                        <li>1 Zones</li>
                        <li>Support replay 1 to 2 day</li>
                        <li>Member Plan Notifications</li>
                        <li class="grey">
                            <a class="button">BUY 10%</a>
                        </li>
                        <li class="grey">
                            <a class="button">Free 15 Days Trail</a>
                        </li>
                    </ul>
                </div>
                <div class="columns">
                    <ul class="price">
                        <li class="header">Super GYM Manage </li>
                        <li class="grey">$ 25 / month</li>
                        <li>zone List on Lookatgym</li>
                        <li>70 Zone member</li>
                        <li>1 Zones</li>
                        <li>24/7 Support</li>
                        <li>Member Plan renew Notifications</li>
                        <li> Free 1 Badge </li>
                        <li class="grey">
                            <a class="button">BUY</a>
                        </li>

                    </ul>
                </div>
                    </div>
                    <div class="row">

                            <p style="text-align:center">Special offered from LAG please contact to support@lookatgym.com</p>
                <div class="columns">
                    <ul class="price">
                        <li class="header" style="background-color:#4CAF50">Business GYM Manage</li>
                        <li class="grey"> $ 70.99 / month</li>
                        <li>zone List on Lookatgym</li>
                        <li>200 Zone member</li>
                        <li>5 Zones</li>
                        <li>24/7 Support</li>
                        <li>Member Plan renew Notifications</li>
                        <li> Soecial Badge </li>
                        <li class="grey">
                            <a class="button">BUY %10 OFF</a>
                        </li>
                    </ul>
                </div>

                <div class="columns">
                    <ul class="price">
                        <li class="header">Special Delax GYM Manage</li>
                        <li class="grey">$ 2000.99 / year</li>
                        <li> Special zone List on Lookatgym</li>
                        <li>1000 Zone member</li>
                        <li>10 Zones</li>
                        <li> premium 24/7 Support</li>
                        <li>Member Plan renew Notifications</li>
                        <li> 3 Special Badges </li>
                        <li class="grey">
                            <a class="button">BUY %20 OFF</a>
                        </li>
                    </ul>
                </div>
                </div>





            </div>

        </div>

    </form>
</div>


<style>
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext");
    * {
        box-sizing: border-box;
    }

    .columns {
        float: left;
        width: 33.3%;
        padding: 8px;
    }

    .price {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
    }

    .price .header {
        background-color: orange;
        color: white;
        font-size: 25px;
    }

    .price li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        text-align: center;
    }

    .price .grey {
        background-color: #eee;
        font-size: 20px;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }

    @media only screen and (max-width: 600px) {
        .columns {
            width: 100%;
        }
    }

    html,
    body {
        height: 100%;
        width: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        background-color: #f3f3f3;
        color: #102c58;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ::-webkit-input-placeholder {
        color: #c3c3c3;
    }

    p {
        color: #ababab;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .u-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .u-input {
        outline: 0;
        border: 1px solid #d0d0d0;
        padding: 5px 10px;
        height: 35px;
        font-size: 12px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-clip: padding-box;
    }

    .c-badge {
        font-size: 10px;
        font-weight: 700;
        min-width: 17px;
        padding: 5px 4px;
        border-radius: 100px;
        display: block;
        line-height: 0.7;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #f91605;
    }

    .c-badge--header-icon {
        position: absolute;
        bottom: -9px;
    }

    .tooltip {
        width: 120px;
    }

    .tooltip-inner {
        padding: 8px 10px;
        color: #fff;
        text-align: center;
        background-color: #051835;
        font-size: 12px;
        border-radius: 3px;
    }

    .tooltip-arrow {
        border-right-color: #051835 !important;
    }

    .hamburger-toggle {
        position: relative;
        padding: 0;
        background: transparent;
        border: 1px solid transparent;
        cursor: pointer;
        order: 1;
    }

    .hamburger-toggle [class*='bar-'] {
        display: block;
        background: #102c58;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease all;
        transition: .2s ease all;
        border-radius: 2px;
        height: 2px;
        width: 24px;
        margin-bottom: 4px;
    }

    .hamburger-toggle [class*='bar-']:nth-child(2) {
        width: 18px;
    }

    .hamburger-toggle [class*='bar-']:last-child {
        margin-bottom: 0;
        width: 12px;
    }

    .hamburger-toggle.is-opened {
        left: 3px;
    }

    .hamburger-toggle.is-opened [class*='bar-'] {
        background: #102c58;
    }

    .hamburger-toggle.is-opened .bar-top {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 15% 15%;
        transform-origin: 15% 15%;
    }

    .hamburger-toggle.is-opened .bar-mid {
        opacity: 0;
    }

    .hamburger-toggle.is-opened .bar-bot {
        -webkit-transform: rotate(45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 15% 95%;
        transform-origin: 15% 95%;
        width: 24px;
    }

    .hamburger-toggle:focus {
        outline-width: 0;
    }

    .header-icons-group {
        display: flex;
        order: 3;
        margin-left: auto;
        height: 100%;
        border-left: 1px solid #cccccc;
    }

    .header-icons-group .c-header-icon:last-child {
        border-right: 0;
    }

    .c-header-icon {
        position: relative;
        display: flex;
        float: left;
        width: 70px;
        height: 100%;
        align-items: center;
        justify-content: center;
        line-height: 1;
        cursor: pointer;
        border-right: 1px solid #cccccc;
    }

    .c-header-icon svg {
        font-size: 18px;
        line-height: 40px;
    }

    .c-header-icon--in-circle {
        border: 1px solid #d0d0d0;
        border-radius: 100%;
    }

    .c-header-icon:hover svg {
        color: #f5642d;
    }

    .c-header-icon:hover [class*='bar-'] {
        background: #f5642d;
    }

    .l-header {

        z-index: 10;
        width: 100%;
        background: #ffffff;
        -webkit-transition: padding 0.5s ease-in-out;
        -moz-transition: padding 0.5s ease-in-out;
        -ms-transition: padding 0.5s ease-in-out;
        -o-transition: padding 0.5s ease-in-out;
        transition: padding 0.5s ease-in-out;
    }

    .l-header__inner {
        height: 100%;
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: stretch;
        border-bottom: 1px solid;
        border-color: #cccccc;
    }

    .sidebar-is-expanded .l-header {
        padding-left: 90%;
    }

    .c-search {
        display: flex;
        flex-grow: 1;
        height: 100%;
    }

    .c-search__input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0;
        width: 100%;
        height: 100%;
        border: 0;
        font-size: 14px;
        padding: 0 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .c-dropdown {
        opacity: 0;
        text-align: left;
        position: absolute;
        flex-direction: column;
        display: none;
        width: 300px;
        top: 30px;
        right: -40px;
        background-color: #fff;
        overflow: hidden;
        min-height: 300px;
        border: 1px solid #d0d0d0;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-clip: padding-box;
        -webkit-box-shadow: 0px 5px 14px -1px #cecece;
        -moz-box-shadow: 0px 5px 14px -1px #cecece;
        box-shadow: 0px 5px 14px -1px #cecece;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .l-sidebar {
        width: 0px;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        bottom: 0;
        background: #102c58;
        -webkit-transition: width 0.5s ease-in-out;
        -moz-transition: width 0.5s ease-in-out;
        -ms-transition: width 0.5s ease-in-out;
        -o-transition: width 0.5s ease-in-out;
        transition: width 0.5s ease-in-out;
    }

    .l-sidebar .logo {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #051835;
    }

    .l-sidebar .logo .logo__txt {
        font-size: 26px;
        line-height: 1;
        color: #fff;
        text-align: center;
        font-weight: 700;
    }

    .l-sidebar__content {
        height: 100%;
        position: relative;
    }

    .sidebar-is-expanded .l-sidebar {
        width: 90%;
    }

    .c-menu>ul {
        display: flex;
        flex-direction: column;
    }

    .c-menu>ul .c-menu__item {
        color: #184a98;
        max-width: 100%;
        overflow: hidden;
    }

    .c-menu>ul .c-menu__item__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 60px;
        position: relative;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -ms-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
    }

    .c-menu>ul .c-menu__item__inner:before {
        position: absolute;
        content: " ";
        height: 0;
        width: 2px;
        left: 0;
        top: 50%;
        margin-top: -18px;
        background-color: #5f9cfd;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .c-menu>ul .c-menu__item.is-active {
        color: #fff;
    }

    .c-menu>ul .c-menu__item.is-active .c-menu__item__inner {
        border-left-color: #fff;
        background-color: #1e3e6f;
    }

    .c-menu>ul .c-menu__item.is-active .c-menu__item__inner svg {
        color: #fff;
    }

    .c-menu>ul .c-menu__item.is-active .c-menu__item__inner .c-menu-item__title span {
        color: #fff;
    }

    .c-menu>ul .c-menu__item.is-active .c-menu__item__inner:before {
        height: 36px;
        opacity: 1;
    }

    .c-menu>ul .c-menu__item:not(.is-active):hover {
        color: #fff;
    }

    .c-menu>ul .c-menu__item:not(.is-active):hover .c-menu__item__inner {
        background-color: #f5642d;
        border-left-color: #f5642d;
    }

    .c-menu>ul .c-menu__item svg {
        flex: 0 0 70px;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .c-menu>ul .c-menu__item .c-menu-item__expand {
        position: relative;
        left: 100px;
        padding-right: 20px;
        color: #fff;
        margin-left: auto;
        -webkit-transition: left 1s ease-in-out;
        -moz-transition: left 1s ease-in-out;
        -ms-transition: left 1s ease-in-out;
        -o-transition: left 1s ease-in-out;
        transition: left 1s ease-in-out;
    }

    .sidebar-is-expanded .c-menu>ul .c-menu__item .c-menu-item__expand {
        left: 0px;
    }

    .c-menu>ul .c-menu__item .c-menu-item__title {
        flex-basis: 100%;
        padding-right: 10px;
        position: relative;
        color: #fff;
        left: 220px;
        opacity: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }

    .c-menu>ul .c-menu__item .c-menu-item__title span {
        font-weight: 400;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-transition: left 0.5s ease-in-out;
        -moz-transition: left 0.5s ease-in-out;
        -ms-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out;
    }

    .sidebar-is-expanded .c-menu>ul .c-menu__item .c-menu-item__title {
        left: 0px;
        opacity: 1;
    }

    .c-menu>ul .c-menu__item .c-menu__submenu {
        background-color: #051835;
        padding: 15px;
        font-size: 12px;
        display: none;
    }

    .c-menu>ul .c-menu__item .c-menu__submenu li {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid;
        border-color: #072048;
        color: #5f9cfd;
    }

    .c-menu>ul .c-menu__item .c-menu__submenu li:last-child {
        margin: 0;
        padding: 0;
        border: 0;
    }

    main.l-main {
        width: 100%;
        height: 100%;
        padding: 70px 0 0 70px;
        -webkit-transition: padding 0.5s ease-in-out;
        -moz-transition: padding 0.5s ease-in-out;
        -ms-transition: padding 0.5s ease-in-out;
        -o-transition: padding 0.5s ease-in-out;
        transition: padding 0.5s ease-in-out;
    }

    main.l-main .content-wrapper {
        padding: 25px;
        height: 100%;
    }

    main.l-main .content-wrapper .page-content {
        border-top: 1px solid #d0d0d0;
        padding-top: 25px;
        color: #ababab;
    }

    main.l-main .content-wrapper--with-bg .page-content {
        background: #fff;
        border-radius: 3px;
        border: 1px solid #d0d0d0;
        padding: 25px;
    }

    main.l-main .page-title {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 25px;
    }

    .sidebar-is-expanded main.l-main {
        padding-left: 90%;
    }
</style>



