


    
    <div class="wrapper">
            <div class="loading" style="position:fixed;top:40%;left:40%" ng-show="vm.inprogress">
                    <div style="
                    -webkit-animation-name: hvr-pulse-grow;
                    animation-name: hvr-pulse-grow;
                    -webkit-animation-duration: 1.3s;
                    animation-duration: 1.3s;
                    -webkit-animation-timing-function: linear;
                    animation-timing-function: linear;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-direction: alternate;
                    animation-direction: alternate;
                    font-size: 17px;
                    color: skyblue;
                ">Loading The Best Clubs For You At {{vm.city}}...</div>
                
               <img  style="position:fixed;top:42%;left:47%" src="images/loading.svg" alt="loading">
                
            </div>
        <!-- header -->
        <div class="zdp-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="zdp-search">
                            <img src="images/logo-look.png" alt="logo-img" class="img img-reponsive zdp-logo">
                            <div class="zdp-search-name">
                                <span class="zdp-search-name-text"> Tolichowki </span>
                                <span class="zdp-search-name-ad"> 0-0-0 7 tombs road </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 col-xs-offset-3">
                        <div class="zdp-top-nav">
                            <ul class="nav navbar-nav zdp-top-nav-content">
                                <li> <a href="#"> <i class="fa fa-search"></i> Seacrh </a> </li>
                                <li> <a href="#"> <i class="fa fa-question-circle"></i> How It Works </a> </li>
                                <li> <a href="#"> <i class="fa fa-user"></i> Sign In </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- banner -->
        <div class="zdp-banner">
            <div class="owl-carousel owl-theme zdp-banner-conetnt">
                <div class="item" ng-repeat="zone in vm.zones">
                    <div class="panel panel-theme zdp-banner-conetnt-card">
                        <div class="panel-body zdp-banner-conetnt-card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 banner-cards" >
                                    <div class="banner-card-one">
                                        <div class="card cardtile" style="width:60%;height:200px;" ng-click="vm.go('zonedetails',zone.zoneId,vm.city)">
                                            <img class="card-img-top" ng-show='!zone.zoneCoverImage.url == ""' src="{{zone.zoneCoverImage.url}}" alt="Card image" style="width:100%;max-height:150px;min-height:150px"
                                            />
                                            <div class="card-img-top" ng-show='zone.zoneCoverImage.url == ""' alt="Card image" style="width:100%;max-height:150px;min-height:150px;background:#2D8DF3;color:white;font-size:20px;text-align:center;">
                                                {{zone.zoneName}}</div>
                                            <div class="card-body">
                                                <h4 class="card-title text-center">{{zone.zoneName}}</h4>
                                                <p class="card-text text-center">
                                                    {{zone.zoneShortDescription}}
                                                </p>
                                                <div class="card-footer">
                                                    <br>
                                                    <span class="fa fa-star checked-star-card"></span>
                                                    <span class="fa fa-star checked-star-card"></span>
                                                    <span class="fa fa-star checked-star-card"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <p class="card-text">
                                                        <b style="color:#0DC8B4;">Fee</b> 500
                                                        <strike>1000</strike> (50% Off)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                        </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <!-- end banner -->
    
    <!--end wrapper-->
    <!-- listing content -->
    <div class="listing-content">

        <div class="container">
            <div class="zdp-side-nav col-sm-3">
                <div class="zdp-side-menu-content">
                    <ul class="nav nav-navbar zdp-side-nav-menu text-center">
                        <li> Brand Gyms  </li>
                        <li>  Cross Fit  </li>
                        <li class="zdp-active"> Weight Lifting   </li>
                        <li>  Runners special</li>
                        <li>  Gymnastics  </li>
                        <li>  Womens Special  </li>
                    </ul>
                    <a href=""> See More </a>
                </div>
            </div>
            
            <div class="col-md-9">
                    <div class="zdp-popular-heading">
                            <h2 class="text-left zdp-popular-heading-t" >Delux Clubs</h2>
                        </div>
                <div class="zdp-popular">
                    
                    
                    <div class="clear-fix"></div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 banner-cards" ng-repeat="zone in vm.zones">
                            <div class="banner-card-one">
                                <div class="card cardtile" style="width:90%;height:300px;" ng-click="vm.go('zonedetails',zone.zoneId,vm.city)">
                                    <img class="card-img-top" ng-show='!zone.zoneCoverImage.url == ""' src="{{zone.zoneCoverImage.url}}" alt="Card image" style="width:100%;max-height:150px;min-height:150px"
                                    />
                                    <div class="card-img-top" ng-show='zone.zoneCoverImage.url == ""' alt="Card image" style="width:100%;max-height:150px;min-height:150px;background:#2D8DF3;color:white;font-size:20px;text-align:center;">
                                        {{zone.zoneName}}</div>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">{{zone.zoneName}}</h4>
                                        <p class="card-text text-center">
                                            {{zone.zoneShortDescription}}
                                        </p>
                                        <div class="card-footer">
                                            <br>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <p class="card-text">
                                                <b style="color:#0DC8B4;">Fee</b> 500
                                                <strike>1000</strike> (50% Off)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
    <script>
    
            $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        });
        
        });
        
        </script>