* {
  margin: 0px;
  padding: 0px; }

.ribbon {
  background: #202122;
  height: 50px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.footer-ribbon {
  background: whitesmoke;
  height: 30px;
  width: 100%; }

.ribbon-banner {
  height: 250px;
  width: 100%;
  background: #2D8DF3; }

.logo {
  position: relative;
  top: 5px;
  left: 153px;
  height: auto;
  width: auto; }

.logo2 {
  position: relative;
  top: 10px;
  left: 120px;
  height: 30px;
  width: 50px; }

.zone-banner-cover {
  background-image: url("../../images/zone-banner-cover-img.JPG");
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 100%;
  min-height: 250px;
  margin-top: 8px; }

.checked-star-card {
  color: orange; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card-footer {
  background: none;
  border: none;
  padding: 0px;
  margin-left: 16px; }

.banner-cards {
  margin-top: 30px; }

.card > .card-body > p {
  color: #84999E;
  font-size: 9px; }

@media screen and (max-width: 758px) and (min-width: 375px) {
  .banner-card-one {
    margin-top: 10px;
    margin-left: 15%;
    width: 80%; } }

.banner-heading {
  color: white;
  position: relative;
  top: 50px;
  left: 50px;
  font-size: 40px;
  font-weight: 800; }

.banner-heading3 {
  color: white;
  position: relative;
  top: 60px;
  left: 60px;
  font-size: 20px;
  font-weight: 400; }

.zone-top-filter {
  background-image: url("../../images/listing-bg.jpg");
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  padding-top: 10%;
  top: 0px;
  left: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

.zone-search-filters {
  background-color: none;
  width: 100%;
  height: auto;
  padding: 10px; }

.zone-fee-content-max > p {
  font-size: 15px;
  color: #efefef; }

.filter-status > label {
  font-size: 16px;
  margin-top: 10px;
  color: #2D8DF3; }

.rating-value {
  color: #efefef;
  margin-top: 10px; }

.filter-rating-heading > h4 {
  color: #efefef; }

.filters {
  background: rgba(33, 191, 252, 0.35);
  margin-top: 20%; }

.filters-searchs {
  background: rgba(33, 191, 252, 0.35);
  height: auto;
  bottom: 0px;
  width: 100%; }

.zone-filter-content {
  margin-top: 10px; }

.star-rating > .btn-ratings-list {
  background: none; }

.filter-class-status > label > button > .checked {
  color: orange; }

.filter-distance > .form-group > select {
  margin-right: auto;
  margin-left: auto; }

.filter-distance {
  margin-top: 0px;
  display: inline-block; }

/* @import url('https://fonts.googleapis.com/css?family=Cinzel'); */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Cinzel', serif; }

.zdp-header {
  position: fixed;
  background: #fff;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 12; }

.zdp-header div.row {
  margin: 0 auto; }

.zdp-logo {
  height: 80px; }

.zdp-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-height: 65px;
  height: auto; }

.zdp-logo {
  margin-top: 5px;
  height: 50px; }

.zdp-search-name {
  width: 300px;
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row; }

.zdp-search-name .zdp-search-name-text {
  font-weight: 700;
  padding: 4px 5px 5px;
  border-bottom: 2px solid #141E30;
  color: #141E30;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.zdp-search-name-ad {
  font-weight: 600;
  padding: 4px 5px 5px;
  font-size: 15px;
  color: #141E30;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px; }

.zdp-top-nav {
  padding: 0px 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row; }

.zdp-top-nav-content > li > a {
  font-weight: 600;
  line-height: 19.2px;
  font-size: 16px;
  color: #3d4152;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer; }

.zdp-top-nav ul.zdp-top-nav-content > li > a:hover {
  background: transparent; }

.zdp-top-nav-content > li > a > i {
  font-size: 16px;
  padding: 0 5px; }

.zdp-banner {
  margin-top: 65px;
  width: 100%;
  height: 330px;
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100% cover;
  box-shadow: 0 2px 4px 0 rgba(48, 56, 97, 0.2); }

.zdp-banner-conetnt {
  padding: 1% 1%; }

.zdp-banner-conetnt-card-body img.zdp-card-img {
  height: 260px;
  width: 260px;
  cursor: pointer;
  transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.zdp-banner-conetnt-card-body img.zdp-card-img:hover {
  cursor: pointer;
  transition: width 2s;
  transform: scale(); }

.item div.zdp-banner-conetnt-card {
  background: transparent;
  border-radius: 5px; }

.zdp-banner-conetnt-card div.zdp-banner-conetnt-card-body {
  padding: 0px; }

.owl-nav {
  display: none; }

/* listing content */
.zdp-side-nav {
  display: flex;
  height: 531px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(48, 56, 97, 0.2);
  align-items: center;
  justify-content: center;
  width: 254px !important; }

.zdp-side-menu-content ul.zdp-side-nav-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.zdp-side-menu-content ul.zdp-side-nav-menu > li {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center; }

ul.zdp-side-nav-menu > li > a {
  font-size: 16px;
  height: 85;
  color: #141E30;
  font-weight: 600; }

ul.zdp-side-nav-menu > li.zdp-active {
  width: 254px;
  box-shadow: 0 2px 4px 0 rgba(48, 56, 97, 0.2);
  background: #000;
  color: #fff; }

ul.zdp-side-nav-menu > li.zdp-active > a {
  width: 254px;
  box-shadow: 0 2px 4px 0 rgba(48, 56, 97, 0.2);
  color: #fff; }

ul.zdp-side-nav-menu > li > a:hover {
  background: transparent;
  color: #fff; }

ul.zdp-side-nav-menu > li:hover {
  box-shadow: 0 2px 4px 0 rgba(48, 56, 97, 0.2);
  background: #000;
  color: #fff; }

/* popular cart */
.zdp-popular {
  width: 100%;
  display: flex;
  padding-left: 0px;
  margin-bottom: 10px;
  justify-content: space-around;
  flex-direction: column; }

.zdp-popular-heading h2.zdp-popular-heading-t {
  font-size: 28px;
  line-height: 33.6px;
  color: #141E30; }

/* cards */
div.zdp-popular-card {
  width: 296px;
  height: 330px;
  padding: 20px 20px 57px 20px;
  box-shadow: 0 2px 4px 0 rgba(48, 56, 97, 0.2);
  cursor: pointer; }

.zdp-card-img img.zdp-popular-card-img {
  width: 254px;
  height: 150px;
  margin-bottom: 20px; }

.zdp-popular-card div.zdp-card-title {
  width: 254px;
  line-height: 20px;
  font-size: 17px;
  text-decoration: none !important;
  padding: 5px 0px;
  font-weight: 600 !important;
  color: #141E30; }

.zdb-card-ratings div.zdp-about-g {
  padding: 0px 0px; }

.zdp-popular-card div.zdp-card-btn {
  margin: 15px 0; }

.zdp-popular-card div.zdp-card-btn button.zdp-popular-card {
  background: #141E30;
  color: #fff;
  padding: 5px 20px; }
