@import '../../styles/core';
.pipeline-ready {
    height: 100%;
    background-color: rgb(236, 236, 236);
    color: #404160;
}

md-checkbox .md-label label {
    margin: 0px;
}

.pipelineStates {
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            &:last-child {
                .pipeline-item {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    .record-strip {
        md-card {
            overflow-x: auto;
        }
        height: 100%;
        .state {
            height: 100%;
            padding: 10px;
            .md-button {
                min-width: initial;
                text-transform: lowercase;
                line-height: initial;
                min-height: initial;
                margin: 0px;
            }
            &.stage {
                .pipeline-item {
                    width: 64px;
                    height: 64px;
                    border-radius: 100%;
                    border: 1px solid #eee;
                    background-color: rgba(255, 255, 255, 0.75);
                    position: relative;
                    z-index: 3;
                    &:after {
                        content: "";
                        width: 42px;
                        height: 42px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        background-color: $lite-contrast-color;
                        border-radius: 100%;
                        z-index: 2;
                    }
                    &:before {
                        content: "";
                        width: 42px;
                        height: 5px;
                        position: absolute;
                        top: 0px;
                        background-color: white;
                        right: -42px;
                        bottom: 0px;
                        margin: auto;
                        z-index: 1;
                        border-style: solid;
                        border-top-width: 1px;
                        border-color: #eee;
                        border-bottom-width: 1px;
                        border-left-width: 0;
                        border-right-width: 0;
                    }
                    span.fa {
                        z-index: 999;
                        font-size: 22px;
                        color: #3cbbca;
                    }
                }
                .active {
                    background-color: $theme-color;
                }
            }
            &.gate {
                .pipeline-item {
                    width: 32px;
                    height: 39px;
                    border-radius: 0;
                    border: 1px solid #eee;
                    background-color: rgba(255, 255, 255, 0.75);
                    position: relative;
                    z-index: 3;
                    &:before {
                        content: "";
                        width: 24px;
                        height: 30px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        background-color: #e7e7e7;
                        z-index: 2;
                    }
                    &:after {
                        content: "";
                        width: 30px;
                        height: 5px;
                        position: absolute;
                        top: 0px;
                        background-color: white;
                        right: -30px;
                        bottom: 0px;
                        margin: auto;
                        z-index: -1;
                        border-style: solid;
                        border-top-width: 1px;
                        border-color: #eee;
                        border-bottom-width: 1px;
                        border-left-width: 0;
                        border-right-width: 0;
                    }
                }
                .active {
                    background-color: $theme-color;
                }
            }
        }
    }
}