<div class="user-page-body">
    <div class="container">
         <div class="row">
             <div class="logo">
                 <img class="img img-responsive logo-img" alt="zone-logo" src="/images/logo.png">
             </div>
         </div>
         <div class="row">
             <div class="about-text">
                 <p class="text-left about-p"> Online Zone </p>
                 <h4 class="text-left about-heading">Find You'r Zone <br>its Easy. </h4>
                 <p class="text-left about-p"> A  app for Zone owners and members</p>
             </div>
         </div>
         <div class="row">
             <div class="started-button pull-right">
                 <button class="btn btn-primary btn-lg get-btn" ng-click="vm.authService.login()">Get Started</button>
             </div>
         </div>
         <div class="row">
             <div class="app-links pull-right">
                 <div class="col-md-6">
                    <a href="#">
                        <div class="playstore-link">
                            <img class="img img-responsive playstory-img" alt="playstore-img" src="images/google-play-logo.png">
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="apple-link">
                            <img class="img img-responsive apple-img" alt="apple-img" src="images/apple-logo.png">
                        </div>
                    </a>
                </div>
             </div>
         </div>
    </div>


</div>
            <!-- <md-button ng-click="vm.authService.login()" class="cc-button">Sign in</md-button> -->
        
            <!-- <p> We are fetching your subscription details, Please wait..</p> -->
      