<div layout="column">
    <md-dialog-content layout="row">
        <div flex="60">
            <div id="scaruleEditDirective" style="height: 120px;"></div>
        </div>
        <div flex="40" layout="column" layout-padding>
            <md-input-container>
                <label>Enter Test Case name</label>
                <input md-maxlength="12" name="caseName" ng-model="caseName">
            </md-input-container>
            <md-input-container>
                <label>Enter Test Case description</label>
                <input md-maxlength="35" name="caseDescription" ng-model="caseDescription">
            </md-input-container>
            <h4 class="">Publish Settings</h4>
            <md-radio-group ng-model="publishSettings" layout="row">
                <md-radio-button value="Public" class="md-primary">Public</md-radio-button>
                <md-radio-button value="Private (to me)"> Private (to me) </md-radio-button>
                <md-radio-button value="Private (to org)">Private (to org)</md-radio-button>
            </md-radio-group>
            <h4 class="">Case Type</h4>
            <md-radio-group ng-model="caseType" layout="row">
                <md-radio-button value="error" class="md-primary">Error</md-radio-button>
                <md-radio-button value="warning (to me)"> Warning </md-radio-button>
            </md-radio-group>
        </div>
    </md-dialog-content>
    <div class="alert alert-danger" role="alert" ng-if="invalidRule">Oh snap! Change a few things up and try submitting again.</div>
    <div class="alert alert-success" role="alert" ng-if="validated"> This test case has validated successfully..</div>
    <md-dialog-actions layout="row">
        <md-button class="md-raised md-success" ng-click="closeDialog()">
            Close
        </md-button>
        <md-button class="md-raised md-warn" ng-click="updatedTestCaseValidate(caseCode)" ng-if="!validated" layout="row">
            Validate
            <md-progress-circular md-mode="indeterminate" md-diameter="20px" ng-if="validationInProgress"></md-progress-circular>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="updatedTestCaseDetails($event, caseName, caseDescription, publishSettings, caseType)" ng-if="validated">
            <i class="fas fa-plus"></i>  Create
        </md-button>
    </md-dialog-actions>
</div>