<div layout="row" ng-controller="ToolbarController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../../../images/logo.png">
            <!--<input type="text" ng-model="color" placeholder="Search">-->
            <!--<md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>-->
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <div layout="row" style="position: relative;">
                <md-button ng-click="goFullscreen()" aria-label="toggle fullscreen">
                    <i class="material-icons">fullscreen</i>
                </md-button>

                <md-button ng-click="go('/settings')">
                    <i class="material-icons">settings</i>
                </md-button>
                <md-button>
                    <i class="material-icons">help_outline</i>
                </md-button>
                <md-button class="md-primary dropdown" ng-click="myDropdownIsActive=!myDropdownIsActive" ng-class="{active:myDropdownIsActive}">
                    <img class="user-img" ng-src="{{userProfile.picture}}" />
                </md-button>
                <ul class="dropdown-menu md-whiteframe-z1">
                    <li>
                        <md-button class="user-name">Welcome {{vm.authService.profile.nickname}}</md-button>
                    </li>
                    <li>
                        <md-button ng-click="vm.authService.logout()">Log out</md-button>
                    </li>
                </ul>
            </div>
        </div>
    </md-toolbar>
</div>