<div class="container zone-user-details-card-page">
    <div class="row">
            <div class=" pull-right" style="margin-top:2%;" >
            <button ng-click="vm.viewType('list')" style="border:none;background:none;"><i class="fas fa-list-ul" style="font-size:20px" ></i></button>
            <button ng-click="vm.viewType('grid')" style="border:none;background:none;"><i class="fas fa-th-large" style="font-size:20px" ></i></button>
            <md-button ng-click="vm.open('lg')" class="md-primary md-fab md-fab-bottom-right" style="width:50px;height:50px;font-size:12px;font-weight:600;text-align:center">
                    <span> New</span>
                   </md-button>
            </div>
</div>
    
    <div class="row" style="height:auto;">
         
                      
        <div class="col-md-3 col-sm-10 col-xs-10 col-lg-3" style="margin-top:2%;" ng-show="vm.grid">
               
       
            <div>
                <div class="record-strip projectCards"   flex="15">
                    <md-card layout="column" layout-align="space-between start" class="progress">
                        <md-card-header>
                            <md-card-header-text>
                                <h5>{{Coupan.projectName}}</h5>
                                <div layout="column">
                                    <span class="md-subhead">Coupan ID:  jalal</span>
                                    <span class="md-subhead">Repo: alal</span>
                                    <span class="md-subhead">Branch: amala</span>
                                </div>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click=""><i class="material-icons">edit</i></md-button>
                            <md-button ng-click=""><i class="material-icons">delete_forever</i></md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </div>

    <div ng-cloak layout-gt-lg="row" layout="column" ng-show="vm.list" style="margin-top:2%;" >

        <div flex-gt-sm="50" flex>

            <md-toolbar layout="row" class="md-hue-3" >
                <div class="md-toolbar-tools">
                    <span>Zone Expances</span>
                </div>
            </md-toolbar>
            <md-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Zone Expances and Expendatures</md-subheader>
                    <md-list-item class="md-3-line" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>Mr.lala</h3>
                            <h4>Umars Empire</h4>
                            <p>He has three years of exp</p>
                            
                        </div>
                        <div class="user-details-card-footer">
                                <div class="user-details-card-buttons btn-group ">
                                    <button ng-click="vm.view('lg')"  class="btn btn-sm btn-info"> Edit </button>
                                    <button class="btn btn-sm btn-danger"> Remove </Button>
                                </div>
                            </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>