<!-- <div class="row">
    <div class="container">
        <div class="col-md-6 col-sm-5 col-xs-10">
            <div class="creation-from" style="padding-left:20px;">

                <form>
                    <div class="form-group">

                        <input type="email" class="form-control" id="manager-name" placeholder="Manager Email" name="manager-name" ng-model="managerData.name"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="manager-deuration" placeholder="Manager Name" name="manager-deuration" ng-model="managerData.deparment"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="text">Zone Name</label>
                        <select class="form-control" required id="sel1" ng-model="managerData.zoneInfo">

                            <option ng-repeat="zone in vm.zones" value='{"zoneId":"{{zone.zoneId}}","zoneName":"{{zone.zoneName}}"}'>{{zone.zoneName}}</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="text">Permission</label>
                        <select class="form-control" required id="sel1" ng-model="managerData.zoneInfo">

                            <option ng-repeat="zone in vm.zones" value='{"zoneId":"{{zone.zoneId}}","zoneName":"{{zone.zoneName}}"}'>{{zone.zoneName}}</option>

                        </select>
                    </div>

                    <div class="create-managers-button">
                        <button type="reset" class="btn btn-sm btn-danger" ng-click="vm.cancel()"> <i class="fas fa-times"></i> Cancel</button>
                        <button type="submit" class="btn btn-sm btn-primary" ng-click="vm.createManager(managerData)"> <i class="fas fa-plus"></i> Create manager</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div> -->
<!-- end row form -->

<div class="settingsMainAddbranch">
        <div class="createbranchHeader" layout="row" layout-align="space-between center">
            <h4>Add or remove Permission for {{vm.branchData.branchId}}</h4>
            <button class="md-icon-button md-button " type="button" ng-click="vm.cancel()" aria-label="Close dialog">
                    <i class="material-icons ng-scope" >clear</i>
                </button>
        </div>
        <div class="createbranchBody">
            <form novalidate name="createNewbranch" autocomplete="off" ng-submit="createNewbranch.$valid">
                <div class="signup_form create_branch">
                    <div class="signup_form_main">
                        <div class="signup_main_row position-relative noPadding">
                            <div class="signup_row">
                                <label ><b>Permissions</b></label>
                                <md-checkbox  name="crossfit" ng-model="permit.permitId" ng-repeat="permit in  permissionsData" ng-true-value="'yup'"
                                ng-false-value="'nope'" style="width:100%" ng-change="vm.addPermit(permit,permit.id)">
                                        <label for="crossfit">{{permit.Role}}</label>
                                        <label for="crossfit"> {{permit.ProductName}}</label>
                                    </md-checkbox>
     
                                <div class="clearfix"></div>
                            </div>
                            <div class="signup_row" layout="row" layout-align="start center">
                                <md-button id="cancelCreatebranchBtn" class="action_button stack_create_pool_button cancel_btn" ng-click="vm.cancel()" type="reset">Cancel
                                    <md-tooltip md-direction="top">Cancel</md-tooltip>
                                </md-button>
                                <md-button id="CreatebranchBtn" class="action_button stack_create_pool_button" ng-disabled="createNewbranch.$invalid" ng-click="vm.updatePermissions(vm.branchData.ownershipId,vm.branchData.branchId)">Update
                                    <md-tooltip md-direction="top">Update</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="show_loading" ng-if="createbranchLoading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
     </div>