@import '../../../styles/core';
md-content {
    background-color: $white;
    &.outletContainer {
        background-color: $transparent;
    }
    md-card {
        &.highlight {
            border-left: 6px;
            border-right: 1px;
            border-top: 1px;
            border-bottom: 1px;
            border-style: solid;
            border-color: #3cbbca;
            md-card-actions {
                margin: 0;
                padding: 0 4px;
                border-left: 1px;
                border-right: 0px;
                border-top: 0px;
                border-bottom: 0px;
                border-style: solid;
                border-color: $highlight-record;
                background-color: rgba(64, 65, 96, 0.06);
                .md-button {
                    min-width: inherit;
                    padding: 0px;
                    margin: 0px;
                    line-height: inherit;
                    min-height: 26px;
                    i {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}