@import '../../styles/core';
.details {
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            &:last-child {
                .pipeline-item {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    .state {
        padding: 15px;
        .pipeline-item {
            width: 64px;
            height: 64px;
            border-radius: 100%;
            border: 1px solid #eee;
            background-color: rgba(255, 255, 255, 0.75);
            position: relative;
            z-index: 3;
            &:after {
                content: "";
                width: 42px;
                height: 42px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-color: $lite-contrast-color;
                border-radius: 100%;
                z-index: 2;
            }
            &:before {
                content: "";
                width: 42px;
                height: 5px;
                position: absolute;
                top: 0px;
                background-color: white;
                right: -42px;
                bottom: 0px;
                margin: auto;
                z-index: 1;
                border-style: solid;
                border-top-width: 1px;
                border-color: #eee;
                border-bottom-width: 1px;
                border-left-width: 0;
                border-right-width: 0;
            }
            span.fa {
                z-index: 999;
                font-size: 22px;
                color: #3cbbca;
            }
        }
    }
}

.executionRunning {
    background-color: rgba(251, 255, 0, 0.26);
    border-left: 3px solid #FFE600;
}

.executionFailed {
    background-color: rgba(224, 10, 42, 0.15);
    border-left: 3px solid #e00a2a;
}

.executionSuccess {
    background-color: rgba(37, 149, 233, 0.15);
    border-left: 3px solid #2595e9;
}

.md-card-image {
    width: 150px;
    height: 150px;
}
.md-headline {
    color:#404160
}
