
<div class="row">
    <div class="ribbon">
     
            <div class="logo">
                <img class="img img-responsive logo-img" alt="zone-logo" src="/images/logo-blue.png">
            </div>
    
    </div>
</div>
<div class="row">
    <div class="ribbon-banner ">
        <h4 class="banner-heading ">Find your ideal gym and fitness club<br>
           <h3 class="banner-heading3"> Start Getting 1 day trail for any Zone at <span style="border:1px solid white;padding:5px;"><b>MUMBAI</b><i  ><a href="" style="margin-left:10px;font-size:12px;color:aliceblue">change city</a></i></b></h3> 
    </div>
</div>
   
        <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
                        <div class="banner-card-one">
                            <div class="card" style="width:90%;height:300px;">
                                <img class="card-img-top" src="images/zone-banner-card2.jpg" alt="Card image" style="width:100%;max-height:150px;min-height:150px">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Nitro Fitness</h4>
                                    <p class="card-text text-center">
                                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                    </p>
                                    <div class="card-footer">
                                        <br>
                                        <span class="fa fa-star checked-star-card"></span>
                                        <span class="fa fa-star checked-star-card"></span>
                                        <span class="fa fa-star checked-star-card"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <p class="card-text">
                                            <b style="color:#0DC8B4;">Fee</b> 500
                                            <strike>1000</strike> (50% Off)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
                            <div class="banner-card-one">
                                <div class="card" style="width:90%;height:300px;">
                                    <img class="card-img-top" src="images/zone-banner-card4.jpg" alt="Card image" style="width:100%;max-height:150px;min-height:150px">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">F1 Gym</h4>
                                        <p class="card-text text-center">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                        </p>
                                        <div class="card-footer">
                                            <br>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <p class="card-text">
                                                <b style="color:#0DC8B4;">Fee</b> 500
                                                <strike>1000</strike> (50% Off)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
                                <div class="banner-card-one">
                                    <div class="card" style="width:90%;height:300px;">
                                        <img class="card-img-top" src="images/zone-banner-card.jpg" alt="Card image" style="width:100%;max-height:150px;min-height:150px">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">Lala's Fitness</h4>
                                            <p class="card-text text-center">
                                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                            </p>
                                            <div class="card-footer">
                                                <br>
                                                <span class="fa fa-star checked-star-card"></span>
                                                <span class="fa fa-star checked-star-card"></span>
                                                <span class="fa fa-star checked-star-card"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                                <p class="card-text">
                                                    <b style="color:#0DC8B4;">Fee</b> 500
                                                    <strike>1000</strike> (50% Off)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <!-- end card one -->
                    <!-- card two -->
                    <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
                            <div class="banner-card-one">
                                <div class="card" style="width:90%;height:300px;">
                                    <img class="card-img-top" src="images/zone-banner-card3.jpg" alt="Card image" style="width:100%;max-height:150px;min-height:150px">
                                    <div class="card-body">
                                        <h4 class="card-title text-center">Metro Club</h4>
                                        <p class="card-text text-center">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                        </p>
                                        <div class="card-footer">
                                            <br>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <p class="card-text">
                                                <b style="color:#0DC8B4;">Fee</b> 500
                                                <strike>1000</strike> (50% Off)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- end card four -->
                    <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
                            <div class="banner-card-one">
                                <div class="card" style="width:90%;height:300px;">
                                    <img class="card-img-top" src="images/zone-banner-card3.jpg" alt="Card image" style="width:100%;max-height:150px;min-height:150px">
                                    <div class="card-body" data-toggle="tooltip" title="Click to quick look!">
                                        <h4 class="card-title text-center">Lulu Club</h4>
                                        <p class="card-text text-center">
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                                        </p>
                                        <div class="card-footer">
                                            <br>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <p class="card-text">
                                                <b style="color:#0DC8B4;">Fee</b> 500
                                                <strike>1000</strike> (50% Off)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
           
    </div>
    <div class="row">
            <div class="footer-ribbon col-md-offset-4">
             
                    <div class=" col-md-3 ">
                       <span> <img class="img img-responsive logo-img logo2 " alt="zone-logo" src="/images/logo-blue.png"> 2018@ Powered By  </span>
                    </div>
            
            </div>
        </div>







