


    <div class="wrapper">
        <!-- header -->
        <div class="zdp-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="zdp-search">
                            <img src="img/logo-look.png" alt="logo-img" class="img img-reponsive zdp-logo">
                            <div class="zdp-search-name">
                                <span class="zdp-search-name-text"> Tolichowki </span>
                                <span class="zdp-search-name-ad"> 0-0-0 7 tombs road </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 col-xs-offset-3">
                        <div class="zdp-top-nav">
                            <ul class="nav navbar-nav zdp-top-nav-content">
                                <li> <a href="#"> <i class="fa fa-search"></i> Seacrh </a> </li>
                                <li> <a href="#"> <i class="fa fa-question-circle"></i> How It Works </a> </li>
                                <li> <a href="#"> <i class="fa fa-user"></i> Sign In </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- banner -->
        <div class="zdp-banner">
            <div class="owl-carousel owl-theme zdp-banner-conetnt">
                <div class="item">
                    <div class="panel panel-theme zdp-banner-conetnt-card">
                        <div class="panel-body zdp-banner-conetnt-card-body">
                            <img src="img/img-1.jpg" class="img img-responsive zdp-card-img" alt="">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <h4>2</h4>
                </div>
                <div class="item">
                    <h4>3</h4>
                </div>
                <div class="item">
                    <h4>4</h4>
                </div>
                <div class="item">
                    <h4>5</h4>
                </div>
                <div class="item">
                    <h4>6</h4>
                </div>
                <div class="item">
                    <h4>7</h4>
                </div>
                <div class="item">
                    <h4>8</h4>
                </div>
                <div class="item">
                    <h4>9</h4>
                </div>
                <div class="item">
                    <h4>10</h4>
                </div>
                <div class="item">
                    <h4>11</h4>
                </div>
                <div class="item">
                    <h4>12</h4>
                </div>
            </div>
        </div>
        <!-- end banner -->
    
    <!--end wrapper-->
    <!-- listing content -->
    <div class="listing-content">

        <div class="container">
            <div class="zdp-side-nav col-sm-3">
                <div class="zdp-side-menu-content">
                    <ul class="nav nav-navbar zdp-side-nav-menu text-center">
                        <li> Content one </a> </li>
                        <li>  Content Two </a> </li>
                        <li class="zdp-active"> Content Three </a> </li>
                        <li>  Content Five </a> </li>
                        <li>  Content Six </a> </li>
                        <li> Content Three </a> </li>
                        <li>  Content Five </a> </li>
                        <li>  Content Six </a> </li>
                    </ul>
                    <a href=""> See More </a>
                </div>
            </div>
            
            <div class="col-md-9">
                    <div class="zdp-popular-heading">
                            <h2 class="text-left zdp-popular-heading-t" > Popular Brands</h2>
                        </div>
                <div class="zdp-popular">
                    
                    
                    <div class="clear-fix"></div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 banner-cards" ng-repeat="zone in vm.zones">
                            <div class="banner-card-one">
                                <div class="card cardtile" style="width:90%;height:300px;" ng-click="vm.go('zonedetails',zone.zoneId,vm.city)">
                                    <img class="card-img-top" ng-show='!zone.zoneCoverImage.url == ""' src="{{zone.zoneCoverImage.url}}" alt="Card image" style="width:100%;max-height:150px;min-height:150px"
                                    />
                                    <div class="card-img-top" ng-show='zone.zoneCoverImage.url == ""' alt="Card image" style="width:100%;max-height:150px;min-height:150px;background:#2D8DF3;color:white;font-size:20px;text-align:center;">
                                        {{zone.zoneName}}</div>
                                    <div class="card-body">
                                        <h4 class="card-title text-center">{{zone.zoneName}}</h4>
                                        <p class="card-text text-center">
                                            {{zone.zoneShortDescription}}
                                        </p>
                                        <div class="card-footer">
                                            <br>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star checked-star-card"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <p class="card-text">
                                                <b style="color:#0DC8B4;">Fee</b> 500
                                                <strike>1000</strike> (50% Off)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-3">
                            <div class="zdp-popular-card">
                                <div class="zdp-card-img">
                                     <img src="img/c1.jpg" class="img img-resposive zdp-popular-card-img" alt="">
                                </div>
                                <div class="zdp-card-title">
                                     Card Title Name
                                </div>
                                <div class="zdb-card-ratings">
                                    <div class="zdp-about-g">
                                         Cardio | Cross Fit | Weight Lifting
                                    </div>
                                    <div class="zdp-about-rating">
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                    </div>
                                </div>
                                <div class="zdp-card-btn text-center">
                                    <button class="zdp-popular-card btn bnt-default"> See More About Gym </button>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="zdp-popular-card">
                                <div class="zdp-card-img">
                                     <img src="img/c1.jpg" class="img img-resposive zdp-popular-card-img" alt="">
                                </div>
                                <div class="zdp-card-title">
                                     Card Title Name
                                </div>
                                <div class="zdb-card-ratings">
                                    <div class="zdp-about-g">
                                         Cardio | Cross Fit | Weight Lifting
                                    </div>
                                    <div class="zdp-about-rating">
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                        <span class="fa fa-star">  </span>
                                    </div>
                                </div>
                                <div class="zdp-card-btn text-center">
                                    <button class="zdp-popular-card btn bnt-default"> See More About Gym </button>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="zdp-popular-card">
                            <div class="zdp-card-img">
                                 <img src="img/c1.jpg" class="img img-resposive zdp-popular-card-img" alt="">
                            </div>
                            <div class="zdp-card-title">
                                 Card Title Name
                            </div>
                            <div class="zdb-card-ratings">
                                <div class="zdp-about-g">
                                     Cardio | Cross Fit | Weight Lifting
                                </div>
                                <div class="zdp-about-rating">
                                    <span class="fa fa-star">  </span>
                                    <span class="fa fa-star">  </span>
                                    <span class="fa fa-star">  </span>
                                    <span class="fa fa-star">  </span>
                                    <span class="fa fa-star">  </span>
                                </div>
                            </div>
                            <div class="zdp-card-btn text-center">
                                <button class="zdp-popular-card btn bnt-default"> See More About Gym </button>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
