<md-list>
    <md-list-item layout="column">
        <a md-button aria-label="menu" href="#/dashboard" layout="column" layout-align="center center">
            <i class="material-icons silver">view_module</i>
            <span>
            Dashboard
            </span>
        </a>
    </md-list-item>
    <md-list-item layout="column">
        <a md-button aria-label="menu" href="#/projects" layout="column" layout-align="center center">
            <i class="material-icons silver">perm_data_setting</i>
            <span>
            Projects
            </span>
        </a>
    </md-list-item>
    <md-list-item layout="column">
        <a md-button aria-label="menu" href="#/pipelines" layout="column" layout-align="center center">
            <i class="material-icons silver">linear_scale</i>
            <span>
            Pipelines
            </span>
        </a>
    </md-list-item>
</md-list>