@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700,900");
.md-headline {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px; }

.bottom-actions span {
  width: 32px;
  text-align: center;
  border-left: 1px;
  border-right: 1px;
  border-color: #dedede;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
  color: #676767;
  font-size: 22px;
  height: 23px; }
  .bottom-actions span:last-child {
    border-left: 0px; }
  .bottom-actions span:first-child {
    border-left: 1px;
    border-color: #dedede;
    border-style: solid; }
  .bottom-actions span:hover {
    color: #3cbbca;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
