<div class="content-wrapper content-wrapper--with-bg">
    <h1 class="page-title">Dashboard</h1>
    <div class="page-content"> 
       
      <div class="tiles">
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
                  <div class="banner-card-one">
                      <div class="card" style="">
            <a href="#" style="text-decoration:none;border:none;">
             <div class="tile-box-add">
               <center>
                 <img class="img img-responsive" alt="add-plus" src="images/plus-add.png" ui-sref="newzone">
                 <p style="padding-bottom:20px">Create New Zone</p>
               </center>
         </div>
            </a>
        </div>
        </div>
        </div>
          <div class="col-md-3 col-sm-6 col-xs-6 banner-cards " >
      <div class="banner-card-one">
          <div class="card" style="width:90%;height:238px;background:white;">
              <img class="card-img-top" src="images/zone-banner-card2.jpg" alt="Card image" style="width:100%;max-height:80px;min-height:80px">
              <div class="card-body">
                  <h4 class="card-title text-center">lalal gym</h4>
                  <p class="card-text text-center">
                     lalalalalal lalalalala
                  </p>
                  <div class="card-footer">
                      <br>
                      <span class="fa fa-star checked-star-card"></span>
                      <span class="fa fa-star checked-star-card"></span>
                      <span class="fa fa-star checked-star-card"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <p class="card-text">
                          <b style="color:#0DC8B4;">Fee</b> 500
                          <strike>1000</strike> (50% Off)
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
      </div>
  </div>
  



  </div>