   <div flex-xs flex-gt-xs="">
                                <md-list ng-repeat="tenant in tenants">
                                    <md-list-item>
                                       
                                        <span flex layout-padding>{{tenant}}</span>
                                    </md-list-item>
                                     <md-divider ng-if="!$last"></md-divider>
               
                                </md-list>
                            </div>