
<div class="dashboard">
<div class="row">
<sidenav>  </sidenav>

<div class="col-md-9 pull-right">
  <div class="content-icons">
       <div class="row">
          <div class="col-md-6 col-sm-8 col-main-nav">
               <ul class="nav navbar-nav">
                   <li> <a href="#" class="acttive-blog"> Blog </a> </li>
                   <li> <a href="#"> Zoon Members </a> </li>
                   <li> <a href="#"> Badges </a> </li>
                   <li> <a href="#"> Upgrade </a> </li>
              </ul>
          </div>
         
      </div>
  </div>
  </div>
  <div class="tiles">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
                <div class="banner-card-one">
                    <div class="card" style="">
          <a href="#" style="text-decoration:none;">
           <div class="tile-box-add">
             <center>
               <img class="img img-responsive" alt="add-plus" src="images/plus-add.png" ng-click="vm.go('newzone')">
               <p style="">Create New Zone</p>
             </center>
       </div>
          </a>
      </div>
      </div>
      </div>
      
      <div class="col-md-3 col-sm-6 col-xs-6 banner-cards">
        <div class="banner-card-one">
            <div class="card" style="width:90%;height:220px;background:white;">
                <img class="card-img-top" src="images/zone-banner-card2.jpg" alt="Card image" style="width:100%;max-height:80px;min-height:80px">
                <div class="card-body">
                    <h4 class="card-title text-center">F1 Gym</h4>
                    <p class="card-text text-center">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
                    </p>
                    <div class="card-footer">
                        <br>
                        <span class="fa fa-star checked-star-card"></span>
                        <span class="fa fa-star checked-star-card"></span>
                        <span class="fa fa-star checked-star-card"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">
                            <b style="color:#0DC8B4;">Fee</b> 500
                            <strike>1000</strike> (50% Off)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
      <div class="col-md-5 banner-cards" style="height:220px;">
        <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                 Member Messages
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
              </div>
              </div>
      
    <div class="row">
    <div class="col-md-7 col-sm-6 col-xs-6 banner-cards" ng-controller="chartController" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        
         <div  google-chart chart="myChart"></div>
     
                     </div> 
                     </div>
    
</div>
        </div>
   </div>
  
 
  
                </div>
 

