
<div class="dashboard">
<div class="row">
<sidenav>  </sidenav>

<div class="col-md-9 pull-right">
  <div class="content-icons">
       <div class="row">
          <div class="col-md-6 col-sm-8 col-main-nav">
               <ul class="nav navbar-nav">
                   <li> <a href="#" class="acttive-blog"> Blog </a> </li>
                   <li> <a href="#"> Zoon Members </a> </li>
                   <li> <a href="#"> Badges </a> </li>
                   <li> <a href="#"> Upgrade </a> </li>
              </ul>
          </div>
         
      </div>
  </div>
  </div>
  <div class="tiles">
        <div class="row">
         <div class="col-md-4">
          <a href="#" style="text-decoration:none;">
           <div class="tile-box-add">
             <center>
               <img class="img img-responsive" alt="add-plus" src="images/plus-add.png" ng-click="vm.go('newzone')">
               <p style="padding:50px;">Create New Zone</p>
             </center>
       </div>
          </a>
      </div>
  
</div>
        </div>
   </div>
  </div>
  </div>
  
      


 </div>
 </div>

